.mobContainer{
    margin: 1rem;
}
.reserves
{
    filter: invert() opacity(80%)
}
.legend
{
    display:flex;
    align-items: center;
    margin: 1rem;
}

body
{
    background-color: rgb(192, 167, 135);
}